%h1
	= @gallery.title
%h2 info
%h3 address
= @gallery.address
- if @gallery.url
	%a{:href => "#{@gallery.url}"} 
		%h3 website
%h3 phone number
= @gallery.phone
%h3 operator
= @gallery.owner
%h3 accessibility
%p
	= @gallery.accessibility
- @shows = Show.all(:gallery_gallery_id => @gallery.gallery_id)
= haml :shows
%h2 ical calendar
%a{:href => "shows/ics"} 
	link