%form#update-gallery 
	%h3 title
	%input{:type => "text", :name=>"title", :id=>"update-title", :value=> "#{@show.title}"}
	%h4 gallery
	%a{:href => "/galleries/#{@show.gallery_gallery_id}/html"} 
		= Gallery.get(@show.gallery_gallery_id).title
	%h4 start date
	%input{:type => "text", :name=>"startdate", :id=>"update-startdate", :value => "#{@show.startdate}"}
	%h4 end date
	%input{:type => "text", :name=>"enddate", :id=>"update-enddate", :value => "#{@show.enddate}"}
	%h4 description
	%textarea{:name=>"description", :id=>"update-description"}
		= @show.description
	%h4 curator
	%input{:type => "curator", :name=>"curator", :id=>"update-curator", :value => "#{@show.curator}"}
	%h4 artist
	%input{:type => "artist", :name=>"artist", :id=>"update-artist", :value => "#{@show.artist}"}
	%h4 url
	%input{:type => "text", :name=>"url", :id=>"update-url", :value=>"#{@show.url}"}
	%h4 submit
	%input{:type => "submit", :id=> "new-submit"}
:javascript
	$(document).ready(function () {
		var showid = "#{@show.show_id}"
		// Form to update a show
		$('#new-submit').click(function () {
			var data = {};

			// Get the data from the form elements
			data.title = $('#update-title').val();
			data.startdate = $('#update-startdate').val();
			data.enddate = $('#update-enddate').val();
			data.url = $('#update-url').val();
			data.curator = $('#update-curator').val();
			data.artist = $('#update-artist').val();
			data.description = $('#update-description').val();

			$.ajax({
				url: '/shows/' + showid,
				type: 'POST',
				data: data
			}).done(function (response) {
				console.log(response);
			});

			// Prgallery the form from being submitted.
			return false;
		});
	});